<% was_validated = best_line.errors.any? %>

<%= form_with(model: best_line, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = best_line.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <% if image_was_invalid %>
      <% best_line.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% book_class = "form-control" %>
    <% book_was_invalid = best_line.errors.include?(:book) %>

    <% if was_validated %>
      <% if book_was_invalid %>
        <% book_class << " is-invalid" %>
      <% else %>
        <% book_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :book_id %>
    <%= f.collection_select :book_id, Book.all, :id, :to_s, {}, class: "form-control" %>
    <% if book_was_invalid %>
      <% best_line.errors.full_messages_for(:book).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% page_class = "form-control" %>
    <% page_was_invalid = best_line.errors.include?(:page) %>

    <% if was_validated %>
      <% if page_was_invalid %>
        <% page_class << " is-invalid" %>
      <% else %>
        <% page_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :page %>
    <%= f.number_field :page, class: page_class, placeholder: "Enter page" %>
    <% if page_was_invalid %>
      <% best_line.errors.full_messages_for(:page).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% note_class = "form-control" %>
    <% note_was_invalid = best_line.errors.include?(:note) %>

    <% if was_validated %>
      <% if note_was_invalid %>
        <% note_class << " is-invalid" %>
      <% else %>
        <% note_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :notes %>
    <%= f.text_area :notes, class: note_class, placeholder: "Enter note" %>
    <% if note_was_invalid %>
      <% best_line.errors.full_messages_for(:note).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = best_line.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% best_line.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = best_line.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if user_was_invalid %>
      <% best_line.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
