<%= form_with(model: @book, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :publishing_year %>

    <%= f.text_field :publishing_year, class: "form-control" %>
  </div>

  <%= f.hidden_field :author_id, value: @author.id %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cover %>

    <%= f.file_field :cover, class: "form-control" %>
  </div>

  <%= f.submit "Create book", class: "btn btn-block btn-outline-secondary" %>
<% end %>
