<%= form_with(model: @best_line, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.hidden_field :book_id, value: @book.id %>

  <div class="form-group">
    <%= f.label :page %>

    <%= f.text_field :page, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create best line", class: "btn btn-block btn-outline-secondary" %>
<% end %>
