<% was_validated = book.errors.any? %>

<%= form_with(model: book, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = book.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% book.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% publishing_year_class = "form-control" %>
    <% publishing_year_was_invalid = book.errors.include?(:publishing_year) %>

    <% if was_validated %>
      <% if publishing_year_was_invalid %>
        <% publishing_year_class << " is-invalid" %>
      <% else %>
        <% publishing_year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :publishing_year %>
    <%= f.number_field :publishing_year, class: publishing_year_class, placeholder: "Enter publishing year" %>
    <% if publishing_year_was_invalid %>
      <% book.errors.full_messages_for(:publishing_year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% author_class = "form-control" %>
    <% author_was_invalid = book.errors.include?(:author) %>

    <% if was_validated %>
      <% if author_was_invalid %>
        <% author_class << " is-invalid" %>
      <% else %>
        <% author_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :author_id %>
    <%= f.collection_select :author_id, Author.all, :id, :to_s, {}, class: "form-control" %>
    <% if author_was_invalid %>
      <% book.errors.full_messages_for(:author).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
